@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Sans";
    src: url("../public/fonts/OmegaCTRegular.ttf");
  }

* {
    font-size: 14px;
    font-family: "Noto Sans";
}

h1 {
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}